.page-nav{
    position:fixed;
    top:calc(#{$header-height} + 5px);
    $height:80px;
    $heightmobile:60px;
    width:100%;
    background-color:$white;
    display:block;
    @include transition(opacity);
    &.hidden{
        visibility:hidden;
        opacity:0;
    }
    &.visible{
        visibility:visible;
        opacity:1;
    }
    &__inner{
        height:$heightmobile;
        @include break(small) {
            height:$height;
        }
        display:flex;
        justify-content: flex-start;
        align-items:center;
        position:relative;
    }
    &__button{
        cursor:pointer;
        height:100%;
        width:auto;
        @include align-center;
        &__icon{
            color:$black;
            width:10px;
            height:10px;
            margin:1rem;
        }
    }
    &__dropdown{
        position:absolute;
        top:$heightmobile;
        left:0;
        width:100%;
        @include break(small) {
          top:$height;
        }
        background-color:$white;
        padding:3rem;
        padding:$padding-sides;
        @include transition(opacity);
        &__outer{

        }
        &.hidden{
            visibility:hidden;
            opacity:0;
        }
        &.visible{
            visibility:visible;
            opacity:1;
        }
    }
    &__backtop{
        cursor:pointer;
        height:100%;
        width:auto;
        @include align-center;
        margin-left:auto;
        &__icon{
            transform:rotate(180deg);
            color:$black;
            width:10px;
            height:10px;
            margin:1rem;
        }
    }
}